<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('partials/header') %>

    <form action="/form" method="post">
      <input type="text" name="ime" placeholder="Внеси име" required />
      <br><br>
      <input type="text" name="prezime" placeholder="Внеси презиме" required />
      <br><br>
      <input type="number" name="prosek" placeholder="Внеси просек" step="0.1" required />
      <br><br>

      <button type="submit">Submit</button>
    </form>
</body>

</html>