<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
</head>

<body>

  <form action="/recipes" method="post">

    <select name="recipe">
      <option value="recipeOne">Recipe 1</option>
      <option value="recipeTwo">Recipe 2</option>
    </select>
    <br><br>

    <input type="text" name="ingredientOne" required />
    <br>
    <input type="text" name="ingredientTwo" required />
    <br>
    <input type="text" name="ingredientThree" required />
    <br><br>

    <input type="submit">
  </form>
</body>

</html>